{% extends "base.html" %}

{% block title %} Customer Login {% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block main %}
<form action="{{ url_for('customer_login') }}" method="post">
    <label for="username">Username:  </label>
    <input type="text" name="username" placeholder="Username" id="username" required><br>
    
    <label for="password">Password:  </label>
    <input type="password" name="password" placeholder="Password" id="password" required>
    
    <input type="submit" value="Login">
</form>
{% if msg %}<p>{{ msg }}</p>{% endif %}
{% endblock %}