<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <header>
            {% block header%}{% endblock %}
        </header>
        <nav>
            <ul>
                <li><a href = "/" >Home</a></li>
                <li><a href = "/about/" >About</a></li>
                <li><a href = "{{ url_for('main.customer') }}">Photos</a></li>
            </ul>
            <button type="button" class="nav_right" id="logout" onclick="window.location.href='{{ url_for( 'auth.logout') }}';" >Logout</button>
            <button type="button" class="nav_right" id="cart" onclick="window.location.href='{{ url_for( 'main.shopping_cart') }}';" >Cart</button>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
