{% extends "base.html" %}

{% block title %} SnapIt Photography {% endblock %}

{% block header %}
    <h1>Hello {{ customerName }}</h1>
{% endblock %}

{% block main %}

    <p>Email:  {{ customer['email'] }}</p>
    <a href = "{{ url_for('main.customer_update', customerID=customer['customerID']) }}">Edit Email</a>
    <table>
        <tr>
            <th>Choose Session</th>
        </tr>
        {% for appointment in appointments %}
            <tr>
                <td><a href = "{{ url_for('main.customer_appointment', appointmentID=appointment.appointmentID) }}">{{ appointment.date }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
