{% extends "base.html" %}

{% block title %} SnapIt Photography {% endblock %}

{% block header %}
    <h1>Hello {{ employeeName }}</h1>
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Choose Customer Username</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td><a href = "{{ url_for('main.view_appointments', customerID=customer.customerID) }}">{{ customer.username }}</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
