{% extends "base.html" %}

{% block title %} Add Photos {% endblock %}

{% block header %}
    <h1>Add Photos</h1>
{% endblock %}

{% block main %}

<table>
    <tr>
        <th>Add a Photo</th>
        <td></td>
    </tr>
    <tr>
        <td>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Photos</td>
        <td></td>
    </tr>
    {% for photo in images %}
        <tr>
            <td><img src = "{{url_for('static', filename = photo) }}" width = "200" height = "200"></td>
            <td><a href = "{{ url_for('main.delete_view', filename=photo) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
